
/* Setting General */

* {
    box-sizing: border-box;
  }

body {
    margin: 0px;
}

h1 {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 2em;
    display: inline-block;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}


/* Header */

.topBand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    position: fixed;
    z-index: 2;

}

.topBand-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    position: fixed;
    opacity: 0.6;
    z-index: 1;
}


/* Navigation */

.nav a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.logo h1 {
    color: #deb531;
    margin: 0;
    padding: 0;
}

.logo p {
    font-size: 0.7em;
    margin: 0px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.nav a:hover {
    color: darkgray;
}

.nav-img {
    display: inline-block;
    width: 20%;
}


/* Step 1: Select Pattern */

.select {
    padding: 150px 20px 20px 20px;
}

.design-select{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.select-item {
    position: relative;
}

.select-item img {
    width: 100%;
    z-index: 1;
}

.select-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.select-item button {
    border: none;
    background-color: transparent;
    padding: 0 2.5px;
}

.select-item button:hover {
    color: darkgray;
    opacity: 0.5;
}

/* Step 2: Design - input form */

.design-02 input {
    display: none;
}

.design-03 input {
    display: none;
}

.design {
    background-color: lightgray;
    padding: 20px 20px;
}

.design-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.design-input {
    grid-column: 1 / span 1;
    margin-right: 20px;
}

.design-input input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.design-input input[type=text]:focus {
    border-left: 5px solid darkgray;
  }

.design-input ::placeholder {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}

.design-input textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    font-family:Arial, Helvetica, sans-serif
}

.design-input textarea:focus {
    border-left: 5px solid darkgray;
  }

  
.design-input input[type=button]:hover {
    color :darkgray;
}


.design-input .tips  p {
    color: gray;
    font-size: 0.8em;
}

/* Step 2: Design - display */

.design-display {
    grid-column: 2 / span 2;
    padding: 0px 0px 0px 0px;
    position: relative;
}

.design-display p {
   font-size: 0.8em;
}

.design-text {
    grid-column: 2 / span 2;
    padding: 20px;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 20%;
}

.design-text p {
    font-size: 1.2vw;
}

.design-pattern {
    grid-column: 2 / span 2;
}

.design-text #displayGroomHTML,
.design-text #displayBrideHTML,
.design-text #displayDateHTML,
.design-text #displayVenueHTML,
.design-text #displayMessageHTML {
    font-size: 2.5vw;
    margin: 0px;
}

.design-text #inputDelete,
.design-text #inputDeleteGroom,
.design-text #inputDeleteBride,
.design-text #inputDeleteDate,
.design-text #inputDeleteVenue,
.design-text #inputDeleteMessage {
    color: rgb(0, 0, 0, 0.2);
    font-size: 2.5vw;
    margin: 0px;
}

/* Step 2: Design - input click */


/* HIDE */
.design #clickEdit,
.design #formInput4,
.design #formInput5,
.show {
    display: none;
}



.design-pattern img {
    width: 100%;
}

/* About */

#aboutMe {
    padding: 10px 20px 20px 10px;
    background-color: darkgray;
}

#aboutMe p {
    margin: 0;
}

/* Footer */

#footer {
    background-color: white;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#contact {
    background-color:beige;
    height: 80px;
    margin-top: 5px;
}

.footer-details {
    font-size: 0.7em;
    text-align: left;
    padding-bottom: 30px;
}

.footer-details h4 {
    text-align: right;
}

.footer-details img {
    height: 25px;
}

.footer-details a {
    font-size: 0.7em;
}